<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.examples.owner.flashcards" >
<uses-permission android:name="android.permission.INTERNET">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
</uses-permission>
    <application

        android:allowBackup="true"
        android:icon="@drawable/drawing"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

    <meta-data
        android:name="com.parse.APPLICATION_ID"
        android:value="DNjVXTHdNHUtaXHQ4MAo61DbXVwakHJ6tvm0KDeo" />
    <meta-data
        android:name="com.parse.CLIENT_KEY"
        android:value="Z6uMhpNyqgyJ86zcRMvqHP6q1bhQC3VYtgTuGRPg" />


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="LoginActivity">

            <intent-filter>
                <action android:name="com.example.owner.LoginActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>

            </intent-filter>
            </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="RegisterActivity">
            <intent-filter>
                <action android:name="com.example.owner.RegisterActivity"/>

            </intent-filter>




            </activity>
    </application>

</manifest>
